/* Base: Size  */
$size-base: 1rem;
$default-padding: $size-base * 1.5;

/* Base color */
$base-color: #2e323a;
$base-color-light: rgba(24, 28, 33, .06);

/* Aside: specifics */
$aside-width: $size-base * 14;
$aside-mobile-width: $size-base * 15;
$aside-icon-width: $size-base * 3;
$aside-submenu-font-size: $size-base * .95;
$aside-box-shadow: none;
$aside-background-color: $base-color;
$aside-tools-background-color: darken($aside-background-color, 10%);
$aside-tools-color: $white;
